extends layout

block content
  .page
    h1.title Sign Up
    form(action="/auth/signup", method="POST")

      label #[strong Username]
      input(type="text", name="username", id="signup-username", placeholder="Username", required)
      
      label #[strong Password]
      input(type="password", name="password", id="signup-password", placeholder="Password", required)
      if isProduction
        input(type="password", name="passcode", id="passcode", placeholder="Passcode", required)
        if error == 'Incorrect passcode'
          p.error Incorrect passcode
      if error == 'Username is already taken'
        p.error Username is already taken
      if error == 'Username or Password cannot contain spaces'
        p.error Username or Password cannot contain spaces
      button(type="submit") Sign Up

    h1.title Sign In 
    form(action='/auth/signin', method='get')
      button(type='submit') Sign In
