extends layout

block content
  .stock-page
    .stock-container
      h1.page-title Stocks
      p.tip-text Tip: You can click on Symbol, Price, or Change to sort the table. You can click on a stock to view its details.
      table.stocks-table
        thead
          tr
            th#symbol-header Symbol
            th#price-header Price
            th#change-header Change
        tbody#stocks-body
          // The table body will be populated dynamically
      script(src="/javascripts/stocks.js")
