/* Page container */
body {
  background-color: #f8e5bd;
}

.page {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* Title */
.title {
  text-align: center;
}

/* Header container */
.header {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Form */
form {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  align-items: center;
  /* Style the checkbox and label */
}
form button {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
}
form button:hover {
  opacity: 0.8;
}
form input[type=text],
form input[type=password],
form input[type=number],
form input[type=range],
form input[type=datetime-local],
form select,
form textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
form .checkbox-group {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
form .checkbox-group input[type=checkbox] {
  margin-right: 8px; /* Add space between the checkbox and label */
  margin-bottom: 0;
  width: auto; /* Ensure checkbox is not stretched */
}

/* Navigation */
.navigation {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.navigation ul {
  padding: 0%;
  background-color: rgba(82, 8, 51, 0.6117647059);
  border-radius: 4px;
}
.navigation li {
  display: inline;
}
.navigation a {
  display: inline-block;
  padding: 20px;
  font-size: larger;
  color: white;
}
.navigation a:hover {
  background-color: #520833;
}

/* News Page */
.column {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.left,
.right {
  width: 20%;
  margin-top: 60px;
}

.middle {
  max-width: 60%;
  box-sizing: border-box;
}

/* Target the h3 in the .card inside .column.left */
.column.left .card h3 {
  background-color: rgba(255, 108, 64, 0.5019607843);
  font-weight: bold;
}

/* Target the h3 in the .card inside .column.right */
.column.right .card h3 {
  background-color: rgba(199, 42, 64, 0.5019607843);
  font-weight: bold;
}

.card {
  width: 100%;
  margin-bottom: 40px;
}
.card h3 {
  margin-bottom: 12px;
}
.card img {
  float: left;
  max-width: 15%;
  padding: 4px 10px 0px 0px;
}
.card p {
  margin-top: 0px;
}
.card .meta {
  opacity: 60%;
  font-size: 14px;
}

/* Tips */
.tip-text {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  opacity: 0.8;
}

/* Tables */
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

th,
td {
  text-align: left;
  padding: 15px;
  width: 33%;
}

th {
  background-color: rgba(0, 0, 0, 0.1);
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

/* Trade Page */
.trade-container {
  display: flex;
  justify-content: space-between; /* Creates space between columns */
  gap: 16px; /* Optional: adds space between columns */
  align-items: flex-start;
}

.trade-column {
  flex-basis: 33%; /* Flex-grow allows each column to grow and fill available space */
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}
.trade-column form,
.trade-column table {
  width: 100%;
}

/* Alerts */
.alert {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.alert-success {
  background-color: #a4e7a6;
}

.alert-danger {
  background-color: #e97067;
}

/* Leaderboard */
.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

/*# sourceMappingURL=style.css.map */
