@use "sass:color";
//  Colors
$main: #ecc878;
$main-light: color.adjust($main, $lightness: 10%);
$main-dark: color.adjust($main, $lightness: -10%);

$accent-color: #cc7e00;

$header-bg: #bd3b1f;

$text-small: 14px;
$border-primary: #000000;

//
// General Layout
//
.container {
  max-width: 800px;
  overflow-wrap: break-word;
  margin: auto;
}

.header-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Form Spacing */
.admin-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between form groups */
}

/* Form group layout */
.admin-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spacing between label and input */
}

/* Admin Volatility Section */
.admin-volatility-section {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between input and controls */
}

/* Inline arrangement for volatility factor slider and input */
#volatility_factor_slider,
#volatility_factor_input {
  max-width: 300px;
}

#volatility_factor_input {
  margin-top: 5px;
}

//
// Tables
//

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  border: 1px solid black;
  text-align: center;
}

tbody td {
  border: 1px solid black;
  text-align: center;
}

//
// News
//

.news-layout {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.news-card {
  padding: 10px;
}

.news-thumbnail {
  width: 100px;
  height: auto;
  margin: 10px;
  margin-top: 4px;
  border-radius: 5px;
}

.news-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.news-body-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.news-meta {
  font-size: 12px;
}

//
// Sidebar
//

.sidebar h3 {
  padding: 0px 2px;
}

.sidebar p {
  margin: 5px 0 20px 0;
}

//
//Navigation
//

nav.navigation {
  padding: 10px;
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  li {
    margin: 0;
  }

  a {
    padding: 10px;
  }
}

//
// Dropdown
//

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  max-height: 200px;
  width: 160px;
  overflow-y: auto;
  border: 1px solid $border-primary;
  z-index: 1;

  a {
    padding: 4px 16px;
    text-decoration: none;
    display: block;
  }
}

.show {
  display: block;
}

// Alerts
.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

//
// Trade
//

.trade-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.welcome-container {
  width: 40%;
  padding: 10px;

  h3 {
    margin: 5px 0;
    padding: 0px 2px;
  }
}

.transaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.dropdown input {
  margin-bottom: 0px;
}
